* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

select {
    width: 150px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

h3 {
    margin-top: 10px;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 1px solid royalblue;
    padding: 10px 20px;
}

.select__px__wrap,
.select__vp__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.select__vp__wrap {
    margin-top: 10px;
}

.select__px,
.select__viewport,
.select__max {
    margin-top: 10px;
}

.popular {
    color: #2a9d8f;
    font-weight: 700;
}

.px_text {
    min-width: 95%;
    max-width: 95%;
    max-height: 200px;
    min-height: 200px;
    margin-top: 10px;
}

.calculation,
.clear,
.clear_Css {
    padding: 5px;
    width: 150px;
    margin-top: 10px;
}

.result {
    margin-top: 20px;
}

.result__wrap {
    text-align: center;
}

.result__wrap_res {
    padding: 20px;
    text-align: left;
    margin-top: 10px;
    border: 1px solid royalblue;
}

.img_ap{
    position: fixed;
    right: 5%;
    bottom: 5%;
    width: 30px;
}


@media (min-width: 1024) and (max-width: 1279) {
    select {
        width: 14.65vw;
    }

    h3 {
        margin-top: 0.98vw;
    }

    .wrap {
        width: 29.30vw;
        border: 0.10vw solid royalblue;
        padding: 0.98vw 1.95vw;
    }

    .select__vp__wrap {
        margin-top: 0.98vw;
    }

    .select__px,
    .select__viewport,
    .select__max {
        margin-top: 0.98vw;
    }

    .px_text {
        max-height: 19.53vw;
        min-height: 19.53vw;
        margin-top: 0.98vw;
    }

    .calculation,
    .clear,
    .clear_Css {
        padding: 0.49vw;
        width: 14.65vw;
        margin-top: 0.98vw;
    }

    .result {
        margin-top: 1.95vw;
    }

    .result__wrap_res {
        padding: 1.95vw;
        margin-top: 0.98vw;
        border: 0.10vw solid royalblue;
    }
}

@media (min-width: 768) and (max-width: 1023) {
    select {
        width: 19.53vw;
    }

    h3 {
        margin-top: 1.30vw;
    }

    .wrap {
        width: 39.06vw;
        border: 0.13vw solid royalblue;
        padding: 1.30vw 2.60vw;
    }

    .select__vp__wrap {
        margin-top: 1.30vw;
    }

    .select__px,
    .select__viewport,
    .select__max {
        margin-top: 1.30vw;
    }

    .px_text {
        max-height: 26.04vw;
        min-height: 26.04vw;
        margin-top: 1.30vw;
    }

    .calculation,
    .clear,
    .clear_Css {
        padding: 0.65vw;
        width: 19.53vw;
        margin-top: 1.30vw;
    }

    .result {
        margin-top: 2.60vw;
    }

    .result__wrap_res {
        padding: 2.60vw;
        margin-top: 1.30vw;
        border: 0.13vw solid royalblue;
    }
}

@media (min-width: 360) and (max-width: 767) {
    select {
        width: 41.67vw;
    }

    h3 {
        margin-top: 2.78vw;
    }

    .wrap {
        width: 83.33vw;
        border: 0.28vw solid royalblue;
        padding: 2.78vw 5.56vw;
    }

    .select__vp__wrap {
        margin-top: 2.78vw;
    }

    .select__px,
    .select__viewport,
    .select__max {
        margin-top: 2.78vw;
    }

    .px_text {
        max-height: 55.56vw;
        min-height: 55.56vw;
        margin-top: 2.78vw;
    }

    .calculation,
    .clear,
    .clear_Css {
        padding: 1.39vw;
        width: 41.67vw;
        margin-top: 2.78vw;
    }

    .result {
        margin-top: 5.56vw;
    }

    .result__wrap_res {
        padding: 5.56vw;
        margin-top: 2.78vw;
        border: 0.28vw solid royalblue;
    }
}

@media (min-width: 320) and (max-width: 359) {
    select {
        width: 46.88vw;
    }

    h3 {
        margin-top: 3.13vw;
    }

    .wrap {
        width: 93.75vw;
        border: 0.31vw solid royalblue;
        padding: 3.13vw 6.25vw;
    }

    .select__vp__wrap {
        margin-top: 3.13vw;
    }

    .select__px,
    .select__viewport,
    .select__max {
        margin-top: 3.13vw;
    }

    .px_text {
        max-height: 62.50vw;
        min-height: 62.50vw;
        margin-top: 3.13vw;
    }

    .calculation,
    .clear,
    .clear_Css {
        padding: 1.56vw;
        width: 46.88vw;
        margin-top: 3.13vw;
    }

    .result {
        margin-top: 6.25vw;
    }

    .result__wrap_res {
        padding: 6.25vw;
        margin-top: 3.13vw;
        border: 0.31vw solid royalblue;
    }
}