@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Medium.ttf) format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Semibold';
    src: url(./fonts/ofont.ru_Open\ Sans.ttf) format('woff');
    font-weight: 300;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

body {
    background-color: #161616;
}

.wrap {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    background-color: #161616;
    padding-bottom: 165px;
    flex-direction: column;
}

.header {
    height: 848px;
    height: 800px;
    display: none;
    background-image: url(./jpg/header_img.png);
    border-bottom: 1px solid #FFFFFF;
}

.logo {
    margin-top: 77px;
    margin-left: 156px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.logo_h1 {
    margin-top: 55px;
}

.logo_h1 h1:nth-child(1) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 37px;
    margin-bottom: 20px;
}

.logo_h1 h1:nth-child(2) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 37px;
    margin-bottom: 30px;
}

.logo_h1 h1:nth-child(3) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
}

.logo_img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
}

.contacts_item_img {
    width: 32px;
}

.contacts {
    width: 360px;
    margin-left: 354px;
    margin-top: 77px;
}

.contacts_heading {
    border: 1px solid #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    padding-top: 30px;
    padding-left: 61px;
    padding-bottom: 17px;
}

.contacts_item {
    width: 360px;
    border: 1px solid #FFFFFF;
    padding-top: 30px;
    padding-left: 69px;
    padding-bottom: 20px;
    display: flex;
}

.contacts_item_a {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 20px;
    vertical-align: middle;
}

.index {
    display: none;
    margin-top: 174px;
}

.nav_item {
    display: flex;
    flex-direction: column;
    width: 258px;
    margin-left: 140px;
}

.header .nav_item {
    display: none;
    margin-top: 50px;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    width: 100%;
}

.nav_item a:link,
.nav_item a:visited,
.nav_item a:active,
.nav_item a:hover {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: 1px solid #FFFFFF;
    padding: 31px 61px;
    margin-bottom: 84px;
}

.skills_wrap {
    margin-left: 216px;
    width: 686px;
}

.skills_heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    padding-top: 75px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.skills_body {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 106px;
    padding-bottom: 75px;
    border: 1px solid #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 140.4%;
    text-transform: uppercase;
}

footer {
    margin: 0 auto;
    width: 1440px;
    background-color: #161616;
}

.offer_item {
    margin-left: 786px;
    margin-top: 35px;
    text-align: right;

}

.offer_item a:link,
.offer_item a:visited,
.offer_item a:active,
.offer_item a:hover {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    text-decoration: none;
}

.wrap_content {
    display: flex;
    padding-top: 50px;
}

.section {
    width: 500px;
}

.section .logo {
    display: flex;
    margin: 0;
    align-items: center;
}

.section .nav {
    display: flex;
    justify-content: center;
}

.section .nav_item {
    margin: 0;
}

.content {
    width: 65%;
}

.main h1 {
    font-size: 66.5px;
    margin-block-start: 0;
    margin-block-end: 0;
    /* margin-top: 77px; */
    margin-bottom: 150px;
}

.offer,
.portfolio,
.section,
.contacts_content {
    display: none;
}

.content p {
    font-family: 'Montserrat';
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 100px;
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
}

.offer img {
    width: 100%;
}

.content .contacts_content {
    margin-top: 0;
    margin-left: 50px;
}


.contacts_content p {
    font-family: 'Montserrat';
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 100px;
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
}

.content .contacts {
    width: 100%;
}

.contacts_item .contacts_item_a p {
    margin-bottom: 0;
    font-size: 22px;
}

.portfolio__item {
    font-size: 14px;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 20px;
    margin-top: 50px;
}

.portfolio__item_img {
    flex: 1;
    border-radius: 8px;
    margin-left: 20px;
    width: 200px;
    height: 200px;
}

.portfolio__item_wrap {
    margin-top: 20px;
    display: flex;
}

.portfolio__item h2 {
    font-size: 40px;
}

.moreDetails {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: 1px solid #FFFFFF;
    padding: 31px 61px;
    margin-bottom: 84px;
    background-color: #161616;
    cursor: pointer;
}

.wrap_logo {
    width: 100%;
    display: flex;
}

.active_flex {
    display: flex;
}

.active_block {
    display: block;
}