@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #16D9E3;
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 2rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #16D9E3;
  color: #16D9E3;
}

.hide {
  opacity: 0;
}

.primary {
  color: #16D9E3;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 300px;
  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 1280px) and (max-width: 1365px) {
  @import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

  .time-list li {
    margin: 0.78vw;
  }

  .time-btn {
    border: 0.16vw solid #C0C0C0;
  }

  .time-btn:hover {
    border: 0.16vw solid #16D9E3;
  }

  .board {
    width: 23.44vw;
    height: 23.44vw;
    box-shadow: -0.63vw -0.63vw 1.56vw #2A333D, 0.78vw 0.55vw 1.56vw #475462;
    border-radius: 2.34vw;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  @import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

  .time-list li {
    margin: 0.98vw;
  }

  .time-btn {
    border: 0.20vw solid #C0C0C0;
  }

  .time-btn:hover {
    border: 0.20vw solid #16D9E3;
  }

  .board {
    width: 29.30vw;
    height: 29.30vw;
    box-shadow: -0.78vw -0.78vw 1.95vw #2A333D, 0.98vw 0.68vw 1.95vw #475462;
    border-radius: 2.93vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  @import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

  .time-list li {
    margin: 1.30vw;
  }

  .time-btn {
    border: 0.26vw solid #C0C0C0;
  }

  .time-btn:hover {
    border: 0.26vw solid #16D9E3;
  }

  .board {
    width: 39.06vw;
    height: 39.06vw;
    box-shadow: -1.04vw -1.04vw 2.60vw #2A333D, 1.30vw 0.91vw 2.60vw #475462;
    border-radius: 3.91vw;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  @import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

  .time-list li {
    margin: 2.78vw;
  }

  .time-btn {
    border: 0.56vw solid #C0C0C0;
  }

  .time-btn:hover {
    border: 0.56vw solid #16D9E3;
  }

  .board {
    width: 83.33vw;
    height: 83.33vw;
    box-shadow: -2.22vw -2.22vw 5.56vw #2A333D, 2.78vw 1.94vw 5.56vw #475462;
    border-radius: 8.33vw;
  }
}

@media (min-width: 320px) and (max-width: 359px) {
  @import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

  .time-list li {
    margin: 3.13vw;
  }

  .time-btn {
    border: 0.63vw solid #C0C0C0;
  }

  .time-btn:hover {
    border: 0.63vw solid #16D9E3;
  }

  .board {
    width: 93.75vw;
    height: 93.75vw;
    box-shadow: -2.50vw -2.50vw 6.25vw #2A333D, 3.13vw 2.19vw 6.25vw #475462;
    border-radius: 9.38vw;
  }
}